In [2]:
>>> print(123)

123

In [4]:
>>> print(98.6)

98.6

In [5]:
print('Hello world')

Hello world

In [7]:

a = 35.0
b = 12.50
c = a * b
print(c)

437.5

In [8]:
hours = 35.0
rate = 12.50
pay = hours * rate
print(pay)

437.5

In [9]:
x1q3z9ocd = 35.0
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ocd * x1q3z9afd
print(x1q3p9afd)

437.5

In [10]:
x = 2
x = x + 2
print(x)

4

In [11]:
x = 3.9 * x * ( 1 - x )
print(x)

-46.8

In [12]:
>>> xx = 2
>>> xx = xx + 2
>>> print(xx)

4

In [13]:
>>> jj = 23
>>> kk = jj % 5
>>> print(kk)

3

In [37]:
>>> yy = 440 * 12
>>> print(yy)
>>> zz = yy / 1000
>>> print(zz)

5280
5.28

In [15]:
>>> yy = 440 * 12
>>> print(yy)

5280

In [16]:
>>> zz = yy / 1000
>>> print(zz)

5.28

In [17]:
x = 1 + 2 * 3 - 4 / 5 ** 6
print(x)

6.999744

In [18]:
>>> x = 1 + 2 ** 3 / 4 * 5
>>> print(x)

11.0

In [19]:
>>> ddd = 1 + 4
>>> print(ddd)

5

In [20]:
>>> eee = 'hello ' + 'there'
>>> print(eee)

hello there

In [35]:
>>> eee = 'hello ' + 'there'
>>> print(eee)

hello there

SyntaxError: invalid syntax (3978838400.py, line 2)

In [34]:

>>> type(eee)
>>> type('hello')
>>> type(1)
>>>

int

In [26]:
>>> xx = 1
>>> type (xx)
>>> temp = 98.6
>>> type(temp)
>>> type(1)
>>> type(1.0)
>>>

float

In [36]:

>>> type(eee)
>>> type('hello')
>>> type(1)

int

In [28]:
>>> type(eee)
>>> type('hello')
>>> type(1)
>>>

int

In [30]:
>>> print(float(99) + 100)
>>> i = 42
>>> type(i)
>>> f = float(i)
>>> print(f)
>>> type(f)
>>>

199.0
42.0

float

In [31]:
>>> print(10 / 2)

5.0

In [32]:
>>> print(9 / 2)

4.5

In [38]:
>>> print(99 / 100)

0.99

In [39]:
>>> print(10.0 / 2.0)

5.0

In [40]:
>>> print(99.0 / 100.0)

0.99